pandas
numpy
scikit-learn
matplotlib
seaborn
sqlalchemy
requests
fastapi
uvicorn
uvicorn
mlflow
prefect
evidently
boto3
s3fs
python-dotenv
joblib
notebook
jupyterlab
pytest
pytest-cov
black
flake8
pre-commit
pyyaml
statsmodels
prophet
torch
tensorflow
plotly
pyarrow
awscli
torch
torchvision
pillow
prometheus-fastapi-instrumentator
isort